<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--显示登录界面标题-->
    <add key="title" value="听触诊管理系统登陆" />
    <!--技术支持信息-->
    <add key="support" value="技术支持信息" />
    <!--显示登录界面版本标题-->
    <add key="version" value="听触诊系统v1.0" />
    <!--显示登录界面版权信息-->
    <add key="right" value="听触诊系统v1.0  XXXXXX版权" />
    <!--显示登录界面图片显示-->
    <add key="LoginImage" value="界面背景3.jpg" />
    <!--数据库信息-->
    <add key="username" value="root" />
    <add key="password" value="root" />
    <add key="database" value="tcz" />
    <add key="LocalizedPerfCounter" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>