<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="image" value="MSN.ssk"/>
    <!--显示登录界面标题-->
    <add key="title" value="听触诊管理系统登陆"/>
    <!--技术支持信息-->
    <add key="support" value="技术支持信息"/>
    <!--显示登录界面版本标题-->
    <add key="version" value="听触诊系统v1.0"/>
    <!--显示登录界面版权信息-->
    <add key="right" value="听触诊系统v1.0  XXXXXX版权"/>
    <!--显示关于界面图片显示-->
    <add key="AboutImage" value="01.jpg"/>
    <!--显示登录界面图片显示-->
    <add key="LoginImage" value="界面背景3.jpg"/>
    <!--显示主界面图片显示-->
    <add key="MainImage" value="MainBackGround.jpeg"/>
    <!--是否显示登录界面密码找回按钮(0:隐藏 1:显示)-->
    <add key="ButtonShow" value="0"/>
    <!--数据库连接字符串a123-->
    <add key="strConn" value="server=127.0.0.1; user id=root; password=a123; database=tcz; pooling=false;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
