<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--显示登录界面标题-->
    <add key="title" value="听触诊管理系统登陆"/>
    <!--技术支持信息-->
    <add key="support" value="技术支持信息"/>
    <!--显示登录界面版本标题-->
    <add key="version" value="听触诊系统v1.0"/>
    <!--显示登录界面版权信息-->
    <add key="right" value="听触诊系统v1.0  XXXXXX版权"/>
    
    <!--显示登录界面图片显示-->
    <add key="LoginImage" value="界面背景3.jpg"/>
    
    
    <!--数据库连接字符串a123-->
    <add key="strConn" value="server=192.168.1.161; user id=root; password=root; database=tcz; pooling=false;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
